@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.homeheroimg{
  width: 100vw !important;
  height: 100% !important;
}

.slick-dots{
  bottom: 10px !important;
  
}

.slick-dots li button:before{
  color: white !important;
  font-size: 10px !important;
  
}

.screen-max-width{
  margin-inline-start: auto;
  margin-inline-end: auto;
  position: relative;
  max-width: 1120px;
}
